@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="checkbox"].form-checkbox:checked {
  background-color: #db1471;
}

.side-nav {
  position: relative;
}
:root {
  --gradient-start: #0f1c35;
  --gradient-end-1: rgba(15, 28, 53, 0.85);
  --gradient-end-2: rgba(15, 28, 53, 0.7);
  --gradient-end-3: rgba(15, 28, 53, 0.3);
  --gradient-end-4: rgba(15, 28, 53, 0);
  --gradient-angle: 89.61deg;
}

.swiper {
  padding: 0 40px !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000000 !important;
}

.swiper-button-next {
  right: -0.1px !important;
}

.swiper-button-prev {
  left: -0.1px !important;
}

.swiper-slide,
.swiper-slide-active {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.apexcharts-canvas {
  z-index: 0 !important;
}

#termsandconditions {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 0.1px solid #7c7c7c;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  position: relative;
}

#termsandconditions:checked {
  background-color: #007b99;
  border: 0.1px solid #007b99;
}

#termsandconditions:checked::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 7px;
  width: 8px;
  height: 16px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  transform-origin: center;
  background-color: #cf59900f;
}

.sx-react-calendar-wrapper {
  width: 100%;
  height: 85vh;
}

/* specific day circle */
.sx__week-grid__date--is-today .sx__week-grid__date-number {
  background-color: #db1471 !important;
}

/* date-picker input border color */
.sx__date-input--active .sx__date-input {
  border-color: #db1471 !important;
}

.sx__date-picker__day.sx__date-picker__day--today {
  background-color: #db1471 !important;
}

/* date-picker input label color */
.sx__date-input--active .sx__date-input-label {
  color: #db1471 !important;
}

/* display options i.e week, month, day */
.sx__view-selection-item.is-selected {
  background-color: #cf59901c !important;
  color: black;
}

.sx__view-selection-item:hover,
.sx__view-selection-item:focus {
  background-color: #db1471 !important;
  color: black;
}

/* Date picker title month */
.sx__date-picker__month-view-header__month-year:hover {
  color: #db1471 !important;
}

.sx__date-picker__day:hover {
  background-color: #cf59901c !important;
}

/* date-picker circle for today */
.sx__date-picker__day.sx__date-picker__day--selected {
  background-color: #db1471 !important;
  color: #fff !important;
}

.sx__date-picker__day:focus {
  outline: #db1471 2px solid !important;
}

.sx__month-grid-day__header-date.sx__is-today {
  background-color: #db1471 !important;
}

.sx__week-grid__date--is-today .sx__week-grid__day-name {
  color: #db1471 !important;
}

/* MUI input label ovarlapping with react-select options */
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root,
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  z-index: auto !important;
}
