@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="checkbox"].form-checkbox:checked {
  background-color: #db1471;
}

.side-nav {
  position: relative;
}
:root {
  --gradient-start: #0f1c35;
  --gradient-end-1: rgba(15, 28, 53, 0.85);
  --gradient-end-2: rgba(15, 28, 53, 0.7);
  --gradient-end-3: rgba(15, 28, 53, 0.3);
  --gradient-end-4: rgba(15, 28, 53, 0);
  --gradient-angle: 89.61deg;
}

.swiper {
  padding: 0 40px !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000000 !important;
}

.swiper-button-next {
  right: -0.1px !important;
}

.swiper-button-prev {
  left: -0.1px !important;
}

.swiper-slide,
.swiper-slide-active {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.apexcharts-canvas {
  z-index: 0 !important;
}